# deps
node_modules/
.next/
out/

# env (ห้าม push .env ขึ้น GitHub)
.env
.env*.local

# vercel
.vercel/

# pwa build artifacts (next-pwa สร้างใหม่ทุกครั้งตอน build)
public/sw.js
public/sw.js.map
public/workbox-*.js
public/workbox-*.js.map

# logs / os
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
*.pem
